@model IEnumerable<EbuyProject.ViewModels.ElectronicsViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Add")
</p>
<p>
    @using (Html.BeginForm("Index", "Electronic", FormMethod.Get))
    {
        @Html.TextBox("search") <input type="submit" value="Search Electronic By Name" />
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Electronic Part Name", "Index", new { sortBy = ViewBag.sortNameParameter, search = Request.QueryString["search"] })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElectronicPartPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElectronicPartDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ElectronicPartName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ElectronicPartPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ElectronicPartDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ElectronicPartId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ElectronicPartId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ElectronicPartId })
        </td>
    </tr>
}

</table>
<input type="button" value="1" onclick="location.href='@Url.Action("Index", "Electronic", new { page = 1 } )'" />
<input type="button" value="2" onclick="location.href='@Url.Action("Index", "Electronic", new { page = 2 } )'" />
<input type="button" value="3" onclick="location.href='@Url.Action("Index", "Electronic", new { page = 3 } )'" />
<!-- izmisliti bolji nacin numeriranja  -->