
@{
    ViewBag.Title = "Index";
}

<h2>EBuy Administrator</h2>


<div class="row">
    <div class="col-md-4">
        <h2>
        @Html.ActionLink("Cars", "Index", "Car")
        </h2>
    </div>
    <div class="col-md-4">
        <h2>
        @Html.ActionLink("Books", "Index", "Books")
        </h2>
    </div>
    <div class="col-md-4">
        <h2>
            @Html.ActionLink("Electronics", "Index", "Electronic")
        </h2>
    </div>
    <div class="col-md-4">
        <h2>
            @Html.ActionLink("Music", "Index", "Music")
        </h2>
    </div>
    <div class="col-md-4">
        <h2>
            @Html.ActionLink("Sport", "Index", "Sport")
        </h2>
    </div>
    <div class="col-md-4">
        <h2>
            @Html.ActionLink("Registered Users", "RegisteredUsers", "User")
        </h2>
    </div>
</div>

